<%- include('partials/header') %>

<body>
    <%- include('partials/navbar') %>

    <h1 style="text-align:center;">About Me</h1>

    <div id="myTitle">
        <h2>Chi Shing, CHAN (Tony)</h2>
        <h4>Experienced backend developer on Mainframe and Database</h4>
    </div>
    <div id="myProfile">
        <div id="myPicture">
            <img id="profile_picture" src="images/MyPicture.png" width="400" alt="MyPicture">
        </div>

        <div id="myInfo">
            <h3>Mission Statement</h3>
            <p>
                As an experienced application developer, I am happy to leverage my technical skills 
                to create great software solutions that meet various business requirements and impress users. 
            </p>
            <h3>About my professions</h3>
            <p>
                I am a professional backend developer focus on Mainframe and database development.<br>
                Specialize on batch Programming (COBOL) and batch jobs dependencies design.<br>
                For database, I am experienced with schema design, data analysis and it's performance tuning.
            </p>
        </div>
    </div>

    <br>
    <a href="/files/Resume - Tony Chan.pdf" target="_blank" class="resumeButton">My Resume (PDF)</a>

<%- include('partials/footer') %>