<%- include('partials/header') %>

<body>
  <h1>Welcome to My Personal Portfolio</h1>

  <%- include('partials/navbar') %>

  <p>Insert your welcome message here.</p>
  <a href="/about">About Me</a>
  <a href="/projects">Projects</a>
</body>
</html>
