<%- include('partials/header') %>

<body>
    <%- include('partials/navbar') %>

    <h1>My Projects</h1>

    <br>
        
    <div class="ProjectSummary">
        <div class="ProjectImage">
            <img src="/images/ProjectImage1.png" width="400" alt="Project Image 1">
        </div>
        <div class="ProjectDescription">
            <h3>Website for Real Estate Agent</h3>
            <p>
                A website of a real estate agent to list out his/her listing properties and let potential buyers contact him/her.
            </p>
            <p>
                Skills Required: HTML, CSS
            </p>
            <a href="http://studentweb.cencol.ca/cchan285/project/ProjectIndex.html" target="_blank" class="projectButton">Click me for details</a>
        </div>
    </div>
    <br>
    <div class="ProjectSummary">
        <div class="ProjectImage">
            <img src="/images/ProjectImage2.png" width="400" alt="Project Image 2">
        </div>
        <div class="ProjectDescription">
            <h3>Database design for a online pharmacy (Group Project)</h3>
            <p>
                Database design on schema and the interactions for a newly estiblished online pharmacy
            </p>
            <p>
                Skills Required: DB Schema Design, Oracle, SQL, ER Diagram
            </p>
            <a href="/files/ProjectFile2.pdf" target="_blank" class="projectButton">Click me for details</a>
        </div>
    </div>
    <br>
    <div class="ProjectSummary">
        <div class="ProjectImage">
            <img src="images/ProjectImage3.png" width="400" alt="Project Image 3">
        </div>
        <div class="ProjectDescription">
            <h3>Monster Bug Smasher</h3>
            <p>
                A challenging mini webpage game to catch the hopping monster, the more times you catch, the faster it hop.
            </p>
            <p>
                Skills Required: Javascript, HTML, CSS
            </p>
            <a href="http://studentweb.cencol.ca/cchan285/comp125/assignment3/assignment3.html" target="_blank" class="projectButton">Click me for details</a>
        </div>
    </div>
    <br>
</body>
</html>

<%- include('partials/footer') %>