<%- include('partials/header') %>

<body>
  <%- include('partials/navbar') %>

  <h1>Services to offer</h1>
  <ul>
    <li>Programming</li>
    <li>Web Design</li>
    <li>Data Analysis</li>
  </ul>

  <%- include('partials/footer') %>