/* style.css */

/* Global Styles */

body {
  font-family: Arial, sans-serif;
  width: 1280px;
  margin-right: auto;
  margin-left: auto;  
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Navigation Bar */
.navbar {
  background-color: #7658e4;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.navbar a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  background-color: #ddd;
  overflow: hidden;
  color: black;
}

/* Custom Logo */
.MyLogo {
  margin-right: 20px;
}

.MyLogo img {
  width: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

/* Button */
.button {
  background-color: #7658e4;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  margin: 40px 40px;
  cursor: pointer;
}

.resumeButton {
  background-color: #eb2b2b;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  margin: 40px 40px;
  cursor: pointer;
}

/* About Me */
#myProfile{
  display: flex;
  gap: 10px;
  flex-direction: row;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#myPicture {
  order: 1;
}

#myInfo {
  order: 2;
}

#profile_picture {
  width: 250px;
  height: auto;
}

/* Footer and Copyright */
footer {
  font-size: small;
  background-color: #ddd;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

#copyright {
  color:black;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
}